{% extends "base.html" %}

{% block title %}
Average Time in Inventory Report
{% endblock %}

{% block content %}
<div class="container">
    {% if result %}
    <table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Average Days in Inventory</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
          <tr>
                <th scope="row"> {{ row.vehicle_type_name }}</th>
                <th scope="row"> {{ row.average_days_in_inventory }}</th>
          </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div> <!-- /container -->
{% endblock %}
