<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<table id="customers" style="width:100%">
    {% if result %}
    <tr>
        <th>customerID</th>
        <th>email</th>
        <th>phone number</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row.customerID }}</td>
        <td> {{ row.email }}</td>
        <td> {{ row.phone }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>
