{% extends "base.html" %}

{% block title %}
Monthly Sales Report
{% endblock %}

{% block content %}
<div class="container">
    <h4>Monthly Sales Report</h4>
    <br>
    {% if result %}
    <table>
    <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Total number of vehicles sold</th>
        <th>Total sales income</th>
        <th>Total net income</th>
    </tr>
    {% for row in result %}
      <tr>
          <td> <a href="{{ '/report/yearly_sales_rank/%s'%row.year }}">{{ row.year }}</a></td>
          <td> <a href="{{ '/report/monthly_sales_rank/%s/%s'%(row.year, row.month)}}">{{ row.month }}</a></td>
          <td> {{ row.total_number_of_vehicles_sold }}</td>
          <td> {{ row.total_sales_income }}</td>
          <td> {{ row.total_net_income }}</td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
</div> <!-- /container -->
{% endblock %}
